doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
        script(src='https://code.jquery.com/jquery-3.3.1.js')
        script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
        script(src='https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js')
        script(src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js')


body#body
    block content
        #loader.loader
            .lds-roller
                div
                div
                div
                div
                div
                div
                div
                div
            p Clearing the database ...
        #loaderEtl.loader
            .lds-roller
                div
                div
                div
                div
                div
                div
                div
                div
            p Data processing...
        #chooser.chooser

            select#mySel
                option(value='krakow') Kraków
                option(value='warsaw') Warszawa
                option(value='rzeszow') Rzeszów
                option(value='wroclaw') Wrocław
            p Choose a city:
        #wrapper.wrapper
            .buttons
                button#extract(type="button") Extract
                button#transform(type="button" disabled='true') Transform
                button#load(type="button" disabled='true') Load
                button#etl(type='button') ETL
                a(href='clear')
                    button#clear(type='button') Clear the database
                button#reset(type='button') Reset
            table#example.display(style='width:100%;')

script(type='text/javascript').
    const myData = !{JSON.stringify(data)};
    const loaderEtl = document.getElementById('loaderEtl');
    const tableWrapper = document.getElementById('wrapper');

    $(document).ready(function () {
        if (window.location.href.indexOf('#cleared') !== -1) {
            alert("Your database has been cleared");
        }

        let table = $('#example').DataTable({
            data: myData,
            columns: [
                {
                    title: "Title",
                    width: '78%'
                },
                {
                    title: "Price[zł]",
                    width: '8%'
                },
                {
                    title: "Date of addition",
                    width: '8%'
                },
                {
                    title: "Locations",
                    width: "8%"
                },
                {
                    title: "Loaner",
                    width: "8%"
                },
                {
                    title: "Size[m2]",
                    width: "8%"
                },
                {
                    title: "Number of rooms",
                    width: "8%"
                },
            ],
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'csv',
                    text: 'Export csv',
                    filename: 'realestate',
                }
            ]
        });

        $('#example tbody').on('click', 'button', function () {
            let data = table
                .row($(this).parents('tr'))
                .data();

            const stringData = data.join(',')
            const title = "Title, Price[zł], Addition date, Locations, Loaner, Size, Number of rooms\r\n"

            let csvContent = "data:text/csv;charset=utf-8," + title + stringData;

            const encodedUri = encodeURI(csvContent)
            const link = document.createElement("a");
            link.href = encodedUri
            link.download = "advert.csv";
            link.click();

        });


        $('#extract').on('click', function () {
            $('#transform').attr('disabled', true);
            $('#load').attr('disabled', true);

            loaderEtl.style.display = "flex";
            tableWrapper.style.display = "none";
            const e = document.getElementById("mySel");
            const selectValue = e.options[e.selectedIndex].value;
            $.ajax({
                type: 'POST',
                url: `/extract/${selectValue}`,
                dataType: 'json',
                success: function (e) {
                    $('#transform').attr('disabled', false);
                    $('#extract').attr('disabled', true);
                    if (myData.length < 0) {
                        $('#extract').attr('disabled', true);
                    }
                    loaderEtl.style.display = "none";
                    tableWrapper.style.display = "block";
                    alert(`Extracted data ready to transform.\nData was extracted from ${e.amount} pages.`);

                }
            });
        });

        $('#transform').on('click', function (e) {
            $('#load').attr('disabled', false);
            loaderEtl.style.display = "flex";
            tableWrapper.style.display = "none";
            $.ajax({
                type: 'POST',
                url: '/transform',
                dataType: 'json',
                success: function (e) {
                    loaderEtl.style.display = "none";
                    tableWrapper.style.display = "block"
                    alert(`${e.amount} data was transformed. \nTransformed data are ready to load into database.`);
                    $('#load').attr('disabled', false);
                    $('#transform').attr('disabled', true);

                }
            });
        });

        $('#load').on('click', function () {
            loaderEtl.style.display = "flex";
            tableWrapper.style.display = "none";
            $.ajax({
                type: 'POST',
                url: '/load',
                dataType: 'json',
                success: function (e) {
                    loaderEtl.style.display = "none";
                    loaderEtl.style.display = "block";
                    alert(`${e.amount} data was succesfully load into the database.`);
                    $('#load').attr('disabled', true);
                    $('#transform').attr('disabled', true);
                    $('#extract').attr('disabled', false);
                    window.location.href = 'http://localhost:3000/';
                }
            });
        });

        $('#etl').on('click', function () {
            loaderEtl.style.display = 'flex';
            tableWrapper.style.display = 'none';
            const e = document.getElementById("mySel");
            const selectValue = e.options[e.selectedIndex].value;
            $.ajax({
                type: 'POST',
                url: `/etl/${selectValue}`,
                dataType: 'json',
                success: function (e) {
                    alert(`ETL process was successfully carried out.\nData was extracted from ${e.amountB} pages.\n ${e.amountAll} data was succesfully load into the database.`);
                    window.location.href = 'http://localhost:3000/';

                }
            });
        });
    });

    const clearBtn = document.getElementById('clear');
    const loader = document.getElementById('loader');

    clearBtn.addEventListener('click', function () {
        loader.style.display = "flex";
        tableWrapper.style.display = "none";
    });

    const resetBtn = document.getElementById('reset');
    resetBtn.addEventListener('click', function () {
        window.location.href = 'http://localhost:3000/';
    })
